body{
background:#0f172a;
color:white;
font-family:Arial;
text-align:center;
margin:0;
}

h1{
padding:20px;
background:linear-gradient(90deg,#1e3a8a,#9333ea);
margin:0;
}

#board{
width:350px;
margin:20px auto;
}

button{
padding:10px 20px;
margin:10px;
border:none;
border-radius:10px;
background:#22c55e;
color:white;
font-size:16px;
cursor:pointer;
}

button:hover{
background:#16a34a;
}

#moves{
width:250px;
height:35px;
margin:auto;
background:#1f2937;
border-radius:20px;
line-height:35px;
}
